.error-message {
  color: red;
  margin-top: 5px;
}
.qa-form-toggle-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.qa-form-toggle-buttons .qa-btn {
  width: 200px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: #bab9b9;
  border: 1px solid #ccc;
  transition: background-color 0.2s;
}
.qa-form-toggle-buttons .qa-btn.active {
  background-color: #7575f8;
  font-weight: bold;
}
.header img {
  height: calc(1.375rem + 1.5vw);
}
.qa-form label[for="url"] {
  margin-right: 1rem;
}
.qa-form input.website-url {
  width: 50vw;
}
.qa-form .test-checklist label:not(:last-of-type) {
  margin-bottom: 0.7rem;
}
.qa-form .test-accordion {
  display: flex;
  gap: 1rem;
}
.qa-form .test-accordion .flex-column {
  flex: 1;
}
.qa-form .accordion-body label {
  width: 100%;
}
