.sokal-container {
  max-width: 1500px;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1513px) {
  .sokal-container:has(.sokal-fullwidth-block) > *:not(.sokal-p-0) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.sokal-before-none::before,
.sokal-after-none::after {
  display: none;
}

.sokal-hr {
  height: 1px;
  width: 100%;
  margin: 1em auto;
  background-color: #dde3e8;
}

.sokal-border-solid {
  border: solid 1px;
}

.sokal-space-y-05 {
  height: 0.5em;
}

.sokal-space-y-1 {
  height: 1em;
}

.sokal-space-y-2 {
  height: 2em;
}

.sokal-space-y-3 {
  height: 3em;
}

.sokal-space-y-4 {
  height: 4em;
}

.sokal-space-x-05 {
  width: 0.5em;
}

.sokal-space-x-1 {
  width: 1em;
}

.sokal-space-x-2 {
  width: 2em;
}

.sokal-space-x-3 {
  width: 3em;
}

.sokal-space-x-4 {
  width: 4em;
}

.sokal-w-auto {
  width: auto;
}

.sokal-w-full {
  width: 100%;
}

.sokal-h-auto {
  height: auto;
}

.sokal-h-full {
  height: 100%;
}

.sokal-max-w-full {
  max-width: 100%;
}

.sokal-max-h-full {
  max-height: 100%;
}

.sokal-m-0 {
  margin: 0;
}

.sokal-my-05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.sokal-my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sokal-my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sokal-my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.sokal-my-4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.sokal-mx-05 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sokal-mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.sokal-mx-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.sokal-mx-3 {
  margin-left: 3em;
  margin-right: 3em;
}

.sokal-mx-4 {
  margin-left: 4em;
  margin-right: 4em;
}

.sokal-mt-0 {
  margin-top: 0;
}

.sokal-mr-0 {
  margin-right: 0;
}

.sokal-mb-0 {
  margin-bottom: 0;
}

.sokal-ml-0 {
  margin-left: 0;
}

.sokal-p-0 {
  padding: 0;
}

.sokal-px-05 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.sokal-px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.sokal-px-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.sokal-px-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.sokal-px-4 {
  padding-left: 4em;
  padding-right: 4em;
}

.sokal-py-05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sokal-py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.sokal-py-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.sokal-py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.sokal-py-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.sokal-pt-0 {
  padding-top: 0;
}

.sokal-pr-0 {
  padding-right: 0;
}

.sokal-pb-0 {
  padding-bottom: 0;
}

.sokal-pl-0 {
  padding-left: 0;
}

.sokal-align-middle {
  vertical-align: middle;
}

.sokal-block {
  display: block;
}

.sokal-inline-block {
  display: inline-block;
}

.sokal-flex {
  display: flex;
}

.sokal-inline-flex {
  display: inline-flex;
}

.sokal-flex-row {
  flex-direction: row;
}

.sokal-flex-row-reverse {
  flex-direction: row-reverse;
}

.sokal-flex-col {
  flex-direction: column;
}

.sokal-flex-col-reverse {
  flex-direction: column-reverse;
}

.sokal-relative {
  position: relative;
}

.sokal-absolute {
  position: absolute;
}

.sokal-items-start {
  align-items: start;
}

.sokal-items-end {
  align-items: end;
}

.sokal-items-center {
  align-items: center;
}

.sokal-items-stretch {
  align-items: stretch;
}

.sokal-justify-normal {
  justify-content: normal;
}

.sokal-justify-start {
  justify-content: start;
}

.sokal-justify-end {
  justify-content: end;
}

.sokal-justify-center {
  justify-content: center;
}

.sokal-justify-between {
  justify-content: space-between;
}

.sokal-justify-around {
  justify-content: space-around;
}

.sokal-justify-evenly {
  justify-content: space-evenly;
}

.sokal-justify-stretch {
  justify-content: stretch;
}

.sokal-flex-wrap {
  flex-wrap: wrap;
}

.sokal-flex-nowrap {
  flex-wrap: nowrap;
}

.sokal-grow {
  flex-grow: 1;
}

.sokal-grow-0 {
  flex-grow: 0;
}

.sokal-flex-1 {
  flex: 1 1 0%;
}

.sokal-flex-auto {
  flex: 1 1 auto;
}

.sokal-flex-initial {
  flex: 0 1 auto;
}

.sokal-flex-none {
  flex: none;
}

.sokal-gap {
  gap: 15px;
  gap: var(--sokal-gap-value, 15px);
}

.sokal-gap-0 {
  gap: 0;
}

.sokal-bg-primary {
  background-color: #333333;
  background-color: var(--sokal-primary-color, #333333);
}

.sokal-color-primary {
  color: #333333;
  color: var(--sokal-primary-color, #333333);
}

.sokal-border-color-primary {
  border-color: #333333;
  border-color: var(--sokal-primary-color, #333333);
}

.sokal-bg-dark {
  background-color: #000000;
  background-color: var(--sokal-primary-color-dark, #000000);
}

.sokal-color-dark {
  color: #000000;
  color: var(--sokal-primary-color-dark, #000000);
}

.sokal-border-color-dark {
  border-color: #000000;
  border-color: var(--sokal-primary-color-dark, #000000);
}

.sokal-bg-light {
  background-color: #f6f8f9;
  background-color: var(--sokal-primary-color-light, #f6f8f9);
}

.sokal-color-light {
  color: #f6f8f9;
  color: var(--sokal-primary-color-light, #f6f8f9);
}

.sokal-border-color-light {
  border-color: #f6f8f9;
  border-color: var(--sokal-primary-color-light, #f6f8f9);
}

.sokal-bg-accent {
  background-color: #007bff;
  background-color: var(--sokal-primary-color-accent, #007bff);
}

.sokal-color-accent {
  color: #007bff;
  color: var(--sokal-primary-color-accent, #007bff);
}

.sokal-border-color-accent {
  border-color: #007bff;
  border-color: var(--sokal-primary-color-accent, #007bff);
}

.sokal-border-color-gray {
  border-color: #e2e7eb;
}

.sokal-bg-layer {
  position: relative;
}

.sokal-bg-layer.has-border-radius {
  border-radius: 1em;
}

.sokal-bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sokal-bg-cover.extended-width {
  left: -100vw;
  width: 200vw;
}

.sokal-bg-cover ~ * {
  position: relative;
}

.sokal-box-shadow {
  box-shadow: 0px 6px 10px rgba(199, 199, 199, 0.1607843137);
}

.sokal-icon {
  font-size: 1em;
  padding: 0.85em 0.81em;
  border-radius: 100%;
}

.sokal-icon-shadow {
  box-shadow: inset -5px 5px 6px rgba(237, 242, 245, 0.768627451),
    -3px 5px 6px #edf2f5;
}

.sokal-icon-md {
  font-size: 1.5em;
}

.sokal-icon-lg {
  font-size: 2.5em;
}

.sokal-media-container {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}

.sokal-media-container.format-landscape-sm {
  padding-top: 40.25%;
}

.sokal-media-container.format-portrait {
  padding-top: 110%;
}

.sokal-media-container.format-square {
  padding-top: 100%;
}

.sokal-media-container.has-border-radius {
  border-radius: 1em;
}

.sokal-media-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.sokal-overlay:not(.relative) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sokal-overlay.relative {
  position: relative;
}

.sokal-card {
  padding: 3.5em 2em;
  max-width: 100%;
}

.sokal-card-tall {
  min-height: 27em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.sokal-card:not([class*="sokal-w-"]) {
  width: 20em;
}

.sokal-flex > .sokal-card:not([class*="sokal-w-"]) {
  min-width: 20em;
}

.sokal-card.has-border-radius {
  border-radius: 0.67em;
}

.sokal-select-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.sokal-select-container .sokal-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  padding: 0.5em 1.2em 0.5em 0;
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px #d3d3d3;
  position: relative;
  z-index: 2;
}
.sokal-select-container .sokal-select + .fa {
  font-size: 0.7em;
  color: #d3d3d3;
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .sokal-sm-block {
    display: block;
  }
  .sokal-sm-inline-block {
    display: inline-block;
  }
  .sokal-sm-flex {
    display: flex;
  }
  .sokal-sm-inline-flex {
    display: inline-flex;
  }
  .sokal-sm-flex-row {
    flex-direction: row;
  }
  .sokal-sm-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sokal-sm-flex-col {
    flex-direction: column;
  }
  .sokal-sm-flex-col-reverse {
    flex-direction: column-reverse;
  }
  .sokal-sm-items-start {
    align-items: start;
  }
  .sokal-sm-items-end {
    align-items: end;
  }
  .sokal-sm-items-center {
    align-items: center;
  }
  .sokal-sm-items-stretch {
    align-items: stretch;
  }
  .sokal-sm-justify-normal {
    justify-content: normal;
  }
  .sokal-sm-justify-start {
    justify-content: start;
  }
  .sokal-sm-justify-end {
    justify-content: end;
  }
  .sokal-sm-justify-center {
    justify-content: center;
  }
  .sokal-sm-justify-between {
    justify-content: space-between;
  }
  .sokal-sm-justify-around {
    justify-content: space-around;
  }
  .sokal-sm-justify-evenly {
    justify-content: space-evenly;
  }
  .sokal-sm-justify-stretch {
    justify-content: stretch;
  }
  .sokal-sm-flex-wrap {
    flex-wrap: wrap;
  }
  .sokal-sm-flex-nowrap {
    flex-wrap: nowrap;
  }
  .sokal-sm-grow {
    flex-grow: 1;
  }
  .sokal-sm-grow-0 {
    flex-grow: 0;
  }
  .sokal-sm-gap {
    gap: 15px;
    gap: var(--sokal-gap-value, 15px);
  }
  .sokal-sm-gap-0 {
    gap: 0;
  }
}
@media only screen and (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .sokal-md-block {
    display: block;
  }
  .sokal-md-inline-block {
    display: inline-block;
  }
  .sokal-md-flex {
    display: flex;
  }
  .sokal-md-inline-flex {
    display: inline-flex;
  }
  .sokal-md-flex-row {
    flex-direction: row;
  }
  .sokal-md-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sokal-md-flex-col {
    flex-direction: column;
  }
  .sokal-md-flex-col-reverse {
    flex-direction: column-reverse;
  }
  .sokal-md-items-start {
    align-items: start;
  }
  .sokal-md-items-end {
    align-items: end;
  }
  .sokal-md-items-center {
    align-items: center;
  }
  .sokal-md-items-stretch {
    align-items: stretch;
  }
  .sokal-md-justify-normal {
    justify-content: normal;
  }
  .sokal-md-justify-start {
    justify-content: start;
  }
  .sokal-md-justify-end {
    justify-content: end;
  }
  .sokal-md-justify-center {
    justify-content: center;
  }
  .sokal-md-justify-between {
    justify-content: space-between;
  }
  .sokal-md-justify-around {
    justify-content: space-around;
  }
  .sokal-md-justify-evenly {
    justify-content: space-evenly;
  }
  .sokal-md-justify-stretch {
    justify-content: stretch;
  }
  .sokal-md-flex-wrap {
    flex-wrap: wrap;
  }
  .sokal-md-flex-nowrap {
    flex-wrap: nowrap;
  }
  .sokal-md-grow {
    flex-grow: 1;
  }
  .sokal-md-grow-0 {
    flex-grow: 0;
  }
  .sokal-md-gap {
    gap: 15px;
    gap: var(--sokal-gap-value, 15px);
  }
  .sokal-md-gap-0 {
    gap: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
  .sokal-lg-block {
    display: block;
  }
  .sokal-lg-inline-block {
    display: inline-block;
  }
  .sokal-lg-flex {
    display: flex;
  }
  .sokal-lg-inline-flex {
    display: inline-flex;
  }
  .sokal-lg-flex-row {
    flex-direction: row;
  }
  .sokal-lg-flex-row-reverse {
    flex-direction: row-reverse;
  }
  .sokal-lg-flex-col {
    flex-direction: column;
  }
  .sokal-lg-flex-col-reverse {
    flex-direction: column-reverse;
  }
  .sokal-lg-items-start {
    align-items: start;
  }
  .sokal-lg-items-end {
    align-items: end;
  }
  .sokal-lg-items-center {
    align-items: center;
  }
  .sokal-lg-items-stretch {
    align-items: stretch;
  }
  .sokal-lg-justify-normal {
    justify-content: normal;
  }
  .sokal-lg-justify-start {
    justify-content: start;
  }
  .sokal-lg-justify-end {
    justify-content: end;
  }
  .sokal-lg-justify-center {
    justify-content: center;
  }
  .sokal-lg-justify-between {
    justify-content: space-between;
  }
  .sokal-lg-justify-around {
    justify-content: space-around;
  }
  .sokal-lg-justify-evenly {
    justify-content: space-evenly;
  }
  .sokal-lg-justify-stretch {
    justify-content: stretch;
  }
  .sokal-lg-flex-wrap {
    flex-wrap: wrap;
  }
  .sokal-lg-flex-nowrap {
    flex-wrap: nowrap;
  }
  .sokal-lg-grow {
    flex-grow: 1;
  }
  .sokal-lg-grow-0 {
    flex-grow: 0;
  }
  .sokal-lg-gap {
    gap: 15px;
    gap: var(--sokal-gap-value, 15px);
  }
  .sokal-lg-gap-0 {
    gap: 0;
  }
}
